{% extends 'base.html.twig' %}

{% block stylesheets %}

	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

{% endblock %}

{% block title %}L'Equipe
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mb-3 mt-5 text-center">L'Equipe general</h1>
		<a class="btn btn-link" href="{{ path('user_new') }}">Ajouter un collegue</a>
		<table id="usersTable" class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom complet</th>
					<th>Email</th>
					<th>Roles</th>
					<th>Poste</th>
					<th>Date de creation</th>
					<th>Derniere modification</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for user in users |reverse %}
					<tr>
						<td>U-{{ user.id }}</td>
						<td>{{ user.firstName }}
							{{user.lastName}}
						</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.post }}</td>
						<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('user_show', {'id': user.id}) }}">
								<i class="far fa-eye"></i>
							</a>
							<a href="{{ path('user_edit', {'id': user.id}) }}">
								<i class="far fa-edit"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">Pas d'enregistrements</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
{% block javascripts %}

	{{parent()}}

	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>


	<script>
		$(document).ready(function () {
$('#usersTable').DataTable({ordering: false});
});
	</script>

{% endblock %}
